.shadowed{
    text-shadow: 10px 10px 15px grey;
    font-size: 500%
}
.lead{
    text-align: center;
}
.p{
    text-align: center
}
.column {
    float: left;
    width: 12.5w%;
    padding: 5px;
}
.button{
    text-align: center;
    border-color: orangered;
    padding-top: 3rem;
}
h2 {
    color: white
}
.fun{
    width: 100%
}
.htmlp{
    font-size: 30px
}
.carousel-slide{
    padding: 5rem
}
.car-img{
    width:70%;
    height:400px;
    max-height: 33%;
    margin-left:auto;
    margin-right:auto;
}
body {
    font-family: Impact;
}
p {
    font-family: sans-serif;
}